body {
	font-family: 'Cardo', sans-serif;
	margin: 0;
	padding: 0;
	background-image: url('pizza2.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;
    }

    header {
	background-color: rgba(51, 51, 51, 0);
	color: #fff;
	padding: 5% 5%;
	text-align: center;
	
	.button-container {
		position: fixed;
		display: flex;
		align-items: center;
		left: 52%;
		transform: translateX(-70%);
		top:0%;
	
	}
	.button {
		text-decoration: none;
		color: #333;
		font-weight: bold;
		background-color: #fff;
		padding: 1rem 3rem; 
		display: inline-block; 
		border: 5% solid #333;
		border-radius: 80px;
	}
    }
    .top-left {
	font-size: 2em;
	font-weight: bold;
	position: absolute;
	top: 5%; 
	left: 5%; 
	color: #fff;
	overflow: auto;
    }
    .top-right {
	font-size: 1.5em;
	font-weight: bold;
	position: absolute;
	top: 5%; 
	right: 5%; 
	color: #fff;
	overflow: auto;
    }
    nav {
	float: none;
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	padding:  1.5em 1rem;
	text-align: center;
    }
    nav:not(:last-child) {
	margin-right: 20%;
	margin-left: 20%;
    }
    .button-container {
	flex-basis: 38%; 
	margin-bottom: 20px;
	min-height: 5%;
	max-height: 5%;
	.name{
		font-family: 'Cardo', serif;
		font-weight: bold;
		font-size: 1.5em;
	}
	.description{
		font-family: 'Cardo', serif;
		font-weight: light;
		font-size: 1em;
	}
    }
    .button {
	text-decoration: none;
	color: #333;
	font-weight: bold;
	background-color: #fff;
	padding: 1.5rem 1rem;
	display: block;
	border: 3px solid #333;
	border-radius: 3rem;
    }
    main {
	padding: 1rem;
    }
    section {
	margin-bottom: 2rem;
    }
    .sidemenu {
	width: 10%;
	height: auto; 
	background-color: #f4f4f4;
	position: fixed;
	top: 15rem;
	left: 10%;
	padding: 1%;
	border: 2px solid #333;
	border-radius: 20px;
	text-align: center;
    }
    
    .sidemenu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
    }
    
    .sidemenu li {
	padding: 3%;
    }
    
    .sidemenu li a {
	text-decoration: none;
	color: #333;
	font-size: 1.3vw;
	font-weight: bold;
    }
    
    .sidemenu li a:hover {
	color: #666;
    }
    .sidemenu2 {
	width: 10%;
	height: auto; 
	background-color: #f4f4f4;
	position: fixed;
	top: 35rem; 
	left: 10%;
	padding: 1%;
	border: 2px solid #333;
	border-radius: 20px;
	text-align: center;
    }
    
    .sidemenu2 ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
    }
    
    .sidemenu2 li {
	padding: 6%;
    }
    
    .sidemenu2 li a {
	text-decoration: none;
	color: #333;
	font-size: 1.2vw;
	font-weight: bold;
    }
    
    .sidemenu2 li a:hover {
	color: #666;
    }
    h2 {
	font-size: 300%; 
	margin-bottom: 5%; 
	font-weight: bolder;
    }
    
    .button-container span {
	font-size: 150%; 
    }
    @media only screen and (max-width: 768px){
	.top-left{
		font-size: 1em;
	}
	.top-right{
		font-size: 0.75em;
	}
	.sidemenu2{
		font-size: 0.5em;
	}
	.sidemenu{
		font-size: 0.75em;
	}
	
    }
    @media print {
	body{
		background-image: none;
		color: #333;
	}
	header{
		font-size: 1em;
	}
	header .button{
		display: none;
	}
	.top-left{
		font-size: 1.5em;
	}
	.top-right{
		font-size: 0.75em;
	}
	.sidemenu2{
		font-size: 0.6vw;
		margin-bottom: 90%;
	}
	.sidemenu{
		font-size: 0.8vw;
		margin-top: 20%;
	}
}